* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #281f20;
  color: white;
  padding: 2rem;
}

.button {
  background: rgb(11, 29, 115);
  background: linear-gradient(90deg,
      rgba(11, 29, 115, 1) 16%,
      rgba(2, 0, 36, 0.8015581232492998) 46%,
      rgba(9, 9, 121, 1) 75%,
      rgba(11, 29, 115, 1) 100%);
  border-radius: 0.8rem;
  margin: 4rem 0;
  padding: 0.5rem;
  color: white;
}

.Hr {
  border-style: none;
  background: rgb(11, 29, 115);
  background: linear-gradient(90deg,
      rgba(11, 29, 115, 1) 16%,
      rgba(2, 0, 36, 0.8015581232492998) 46%,
      rgba(9, 9, 121, 1) 75%,
      rgba(11, 29, 115, 1) 100%);
  border-radius: 4rem;
  height: 1rem;
}

.video {
  height: 100%;
}